.outer-div{
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.register:hover{
      cursor: pointer;
      color: skyblue;
}
.mylabel{
    margin-bottom: 5px;
}
.from-div{
  width: 90%;
}
.home{
   display: flex;
   flex-direction: column;
   align-items: center;
}
@media screen and (max-width: 600px) {
  .inner-div{
    width: 100%;

}
  .animation{
    display: none; /* Hide the div when the screen width is 600px or less */
  }
}